<div class="container-fluid">
	<h1>My visualizations</h1>
	<div class="tlist">
		<div class="item well" ng-repeat="visualization in visualizations" ng-click="clickVisualization(visualization.Key)">
			<div style="background: url('{{getPreview(visualization)}}') center no-repeat; background-size: 100%; width: 100%; height: 100%;">
				<div class="pull-right">{{visualization.Date|date}}</div>
				<b>{{visualization.Title}}</b>
			</div>
		</div>
	</div>
	<br style="clear: both" />
	<a ng-click="newVisualization()" class="btn btn-primary">New visualization</a>

	<hr/>

	<h1>My modules</h1>
	<div class="tlist">
		<div class="item well" ng-repeat="module in modules" ng-click="clickModule(module)">
			<div class="pull-right">{{module.Date|date}}</div>
			<b>{{module.Devname}}/{{module.Name}}</b>
		</div>
	</div>
	<br style="clear: both" />
	<a ng-click="newModule()" class="btn btn-primary">New module</a>
</div>