<tabset>
	<tab heading="Code">
		<div class="row-fluid">
			<div class="span8">
				Title: {{data.Title}}<br/>
				Files:<br/>
				<ul>
					<li ng-repeat="file in files">{{file}}</li>
				</ul>
			</div>
			<div class="span4 well">
				<h2>Files</h2>
				<div ng-file-upload="{{key}}" complete="uploadComplete(data)" error="uploadError()"></div>
			</div>
		</div>
	</tab>
	<tab heading="Preview">
		<iframe src="http://anif.avy:8080/visualizations/{{key}}/" frameborder="0" style="width: 100%; height: 600px"></iframe>
	</tab>
</tabset>