<h1>{{ data.Title }}</h1>
<tabset>
	<tab heading="Code">
		<div class="row-fluid">
			<div class="span8">
				<textarea ui-codemirror="editorOptions" ng-model="editor" mode="editorMode"></textarea>
			</div>
			<div class="span4 well">
				<h2>Files</h2>
				<ul ng-repeat="fileGrp in files" class="nav nav-pills nav-stacked">
					<li ng-repeat="file in fileGrp" ng-click="selectFile(file)" ng-class="{'active': activeFile == file.Filename}"><a href="#">{{file.Filename}}</a></li>
				</ul>
				<h3>Upload</h3>
				<div ng-file-upload="{{key}}" complete="uploadComplete(data)" error="uploadError()"></div>
			</div>
		</div>
	</tab>
	<tab heading="Preview">
		<iframe src="http://anif.avy:8080/visualizations/{{key}}/" frameborder="0" style="width: 100%; height: 640px"></iframe>
	</tab>
</tabset>