body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.sidebar-nav {
    padding: 9px 0;
}

@media (max-width: 980px) {
    /* Enable use of floated navbar text */
    .navbar-text.pull-right {
        float: none;
        padding-left: 5px;
        padding-right: 5px;
    }
}

/* Visualization list */

.tlist .item {
	float: left;
	width: 200px;
	height: 200px;
	margin: 0 20px 20px 0;
}

/* CodeMirror */

.CodeMirror {
    height: auto;
}

.CodeMirror-scroll {
    overflow-x: auto;
    overflow-y: hidden;
}