body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.sidebar-nav {
    padding: 9px 0;
}

@media (max-width: 980px) {
    /* Enable use of floated navbar text */
    .navbar-text.pull-right {
        float: none;
        padding-left: 5px;
        padding-right: 5px;
    }
}

/* Homepage */

.carousel {
    margin: 20px 0;
}

.text-right {
    text-align: right;
}

.headline {
    font-size: 30px;
    padding: 10px;
}

.headline .h1, .h2, .h3, .h4, .h5 {
    font-weight: bold;
}

.headline .h1 {
    color: #149bdf;
}

.headline .h2 {
    color: #ae6010;
}

.headline .h3 {
    color: #b03d7b;
}

.headline .h4 {
    color: #bd3d11;
}

.headline .h5 {
    color: #51a351;
}

/* Help */

.help h1 {
    border-bottom: 1px solid #aaa;
}

.help h2 {
    font-weight: normal;
}

.help p {
    font-size: 16px;
}

.help .tab-content {
    border-bottom: 1px solid #ddd;
}

/* Visualization list */

.tlist .item {
	float: left;
	width: 200px;
	height: 200px;
	margin: 0 20px 20px 0;
}

/* File list */

.delete-icon {
    float: right;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.delete-icon i {
    display: block;
    margin: 8px;
}

/* CodeMirror */

.CodeMirror {
    height: auto;
}

.CodeMirror-scroll {
    overflow-x: auto;
    overflow-y: hidden;
}

/* 404 */

.e404 {
    padding: 80px 0 40px 0;
    line-height: 40px;
    max-width: 680px;
    margin: auto;
}

.e404 .h1 {
    font-size: 160px;
    font-weight: bold;
}

.e404 .h2 {
    font-size: 80px;
}

.e404 .h3 {
    font-size: 40px;
}